Repository apiaryio/api-elements.js, pull requests merged in 2020-07, with the labels that each got.

#514 Error out when parsing components using reserved elements
  packages/openapi3-parser/CHANGELOG.md
  packages/openapi3-parser/lib/parser/oas/parseComponentsObject.js
  packages/openapi3-parser/lib/parser/parseObject.js
  packages/openapi3-parser/package.json
  packages/openapi3-parser/test/unit/parser/oas/parseComponentsObject-test.js
Labels: openapi3

#515 chore(oas2): recursive generateBody
  packages/openapi2-parser/lib/generator.js
  packages/openapi2-parser/test/generator-test.js
Labels: openapi2

#518 Release openapi2-parser 0.32.2
  packages/openapi2-parser/CHANGELOG.md
  packages/openapi2-parser/package.json
Labels: openapi2

#437 Add a JSON Serializer
  commitlint.config.js
  packages/json-serializer/README.md
  packages/json-serializer/lib/adapter.js
  packages/json-serializer/lib/serializeJSON.js
  packages/json-serializer/package.json
  packages/json-serializer/test/adapter-test.js
  packages/json-serializer/test/serializeJSON-test.js
Labels: enhancement

#520 Prefer sample/default over empty primitive array when generating values
  packages/api-elements/CHANGELOG.md
  packages/api-elements/lib/define-value-of.js
  packages/api-elements/test/value-of-test.js
Labels: core

#525 Respect generateMessageBody and generateMessageBodySchema in the API Blueprint adapter
  packages/apib-parser/CHANGELOG.md
  packages/apib-parser/lib/adapter.js
  packages/apib-parser/test/adapter-test.js
Labels: apiblueprint

#526 Disallow non-string text body example in OpenAPI 3
  packages/openapi3-parser/CHANGELOG.md
  packages/openapi3-parser/lib/parser/oas/parseMediaTypeObject.js
  packages/openapi3-parser/test/unit/parser/oas/parseMediaTypeObject-test.js
Labels: bug, openapi3
