Repository apiaryio/api-elements.js, pull requests merged in 2020-06, with the labels that each got.

#476 Cache body generation for allOf's with ref
  packages/fury-cli/package.json
  packages/openapi2-parser/CHANGELOG.md
  packages/openapi2-parser/lib/parser.js
  packages/openapi2-parser/package.json
Labels: openapi2

#478 Rename fury-adapter-remote to @apielements/remote
  packages/remote/CHANGELOG.md
  packages/remote/README.md
  packages/remote/lib/adapter.js
  packages/remote/package.json
  packages/remote/test/fury-test.js
Labels: remote

#479 feature: add support for generateMessageBody and schema
  packages/remote/lib/adapter.js
  packages/remote/test/fury-test.js
Labels: remote

#487 Validate OAS 2 documents contain swagger key
  packages/openapi2-parser/CHANGELOG.md
  packages/openapi2-parser/lib/parser.js
  packages/openapi2-parser/test/adapter-test.js
Labels: openapi2

#486 Return unsupported warnings in header object instead of invalid
  packages/openapi3-parser/CHANGELOG.md
  packages/openapi3-parser/lib/parser/oas/parseHeaderObject.js
  packages/openapi3-parser/test/integration/fixtures/petstore.json
  packages/openapi3-parser/test/integration/fixtures/petstore.sourcemap.json
Labels: openapi3

#492 Restore accidentally disabled tests
  packages/openapi2-parser/test/adapter-test.js
  packages/openapi2-parser/test/fixtures/circular-example.sourcemap.json
  packages/openapi2-parser/test/fixtures/json-body-generation-array-object.sourcemap.json
Labels: openapi2

#493 Add sourcemaps to some swagger validation errors
  packages/openapi2-parser/lib/parser.js
  packages/openapi2-parser/test/fixtures/swagger-error.json
  packages/openapi2-parser/test/fixtures/swagger-error.sourcemap.json
  packages/openapi2-parser/test/fixtures/swagger-error.yaml
Labels: bug, openapi2

#494 Handle negative boolean values as false
  packages/openapi3-parser/CHANGELOG.md
  packages/openapi3-parser/lib/parser/parseYAML.js
  packages/openapi3-parser/test/integration/fixtures/petstore.json
  packages/openapi3-parser/test/integration/fixtures/petstore.sourcemap.json
  packages/openapi3-parser/test/unit/parser/parseYAML-test.js
Labels: bug, openapi3

#495 Don't generate bodies when validating
  packages/openapi2-parser/CHANGELOG.md
  packages/openapi2-parser/lib/adapter.js
  packages/openapi2-parser/test/adapter-test.js
Labels: openapi2

#496 Add missing sourcemap fixtures
  packages/openapi2-parser/test/fixtures/schema-error-parameter.sourcemap.json
  packages/openapi2-parser/test/fixtures/schema-error-type.sourcemap.json
Labels: openapi2

#500 Add support for Schema Object 'oneOf' in OpenAPI 3
  packages/openapi3-parser/CHANGELOG.md
  packages/openapi3-parser/STATUS.md
  packages/openapi3-parser/lib/parser/oas/parseSchemaObject.js
  packages/openapi3-parser/test/unit/parser/oas/parseSchemaObject-test.js
Labels: enhancement, openapi3

#502 Prevent throwing during freeze for required annotations
  packages/openapi3-parser/lib/parser/parseObject.js
  packages/openapi3-parser/test/unit/parser/parseObject-test.js
Labels: bug, openapi3

#503 Fix support for using `$ref` in a component definition
  packages/openapi3-parser/CHANGELOG.md
  packages/openapi3-parser/lib/parser/oas/parseComponentsObject.js
  packages/openapi3-parser/lib/parser/oas/parseReferenceObject.js
  packages/openapi3-parser/lib/parser/parseReference.js
  packages/openapi3-parser/test/integration/components-test.js
  packages/openapi3-parser/test/integration/fixtures/components/path-item-object-parameters-alias.json
  packages/openapi3-parser/test/integration/fixtures/components/path-item-object-parameters-alias.yaml
  packages/openapi3-parser/test/integration/fixtures/components/schema-alias.json
  packages/openapi3-parser/test/integration/fixtures/components/schema-alias.yaml
  packages/openapi3-parser/test/unit/parser/oas/parseComponentsObject-test.js
  packages/openapi3-parser/test/unit/parser/oas/parseReferenceObject-test.js
Labels: bug, openapi3

#505 Support Schema Object title
  packages/openapi3-parser/CHANGELOG.md
  packages/openapi3-parser/STATUS.md
  packages/openapi3-parser/lib/parser/oas/parseSchemaObject.js
  packages/openapi3-parser/test/unit/parser/oas/parseSchemaObject-test.js
Labels: openapi3

#506 Add accept header to requests
  packages/openapi3-parser/CHANGELOG.md
  packages/openapi3-parser/lib/parser/oas/parseOperationObject.js
  packages/openapi3-parser/test/integration/fixtures/auth-scheme-does-not-exist.json
  packages/openapi3-parser/test/integration/fixtures/auth-scheme-does-not-exist.sourcemap.json
  packages/openapi3-parser/test/integration/fixtures/auth-scheme-global.json
  packages/openapi3-parser/test/integration/fixtures/auth-scheme-global.sourcemap.json
  packages/openapi3-parser/test/integration/fixtures/auth-scheme.json
  packages/openapi3-parser/test/integration/fixtures/auth-scheme.sourcemap.json
  packages/openapi3-parser/test/integration/fixtures/components/media-type-object-examples.json
  packages/openapi3-parser/test/integration/fixtures/components/media-type-object-schema-multiple.json
  packages/openapi3-parser/test/integration/fixtures/components/media-type-object-schema.json
  packages/openapi3-parser/test/integration/fixtures/components/path-item-object-parameters-unsupported-parameter.json
  packages/openapi3-parser/test/integration/fixtures/components/path-item-object-parameters.json
  packages/openapi3-parser/test/integration/fixtures/components/responses-object-response-with-schema.json
  packages/openapi3-parser/test/integration/fixtures/components/schema-alias.json
  packages/openapi3-parser/test/integration/fixtures/messageBody.json
  packages/openapi3-parser/test/integration/fixtures/petstore.json
  packages/openapi3-parser/test/integration/fixtures/petstore.sourcemap.json
  packages/openapi3-parser/test/unit/parser/oas/parseOperationObject-test.js
Labels: openapi3
